---
import { cn } from "$lib/utils.ts";

interface Props {
  class?: string;
}
const { class: className = "" } = Astro.props as Props;
---

<section
  class={cn("grid grid-cols-2 large:grid-cols-4 auto-rows-card auto-cols-fr w-full", className)}
>
  <slot />
</section>
