---
import Profile from "$lib/components/Profile.astro";
import Layout from "$src/layouts/Layout.astro";
import BentoCards from "$lib/components/BentoCards.astro";
---

<Layout>
  <main class="mx-auto w-screen max-w-[1440px] p-4 lg:p-10">
    <div
      class="flex grow flex-col items-center gap-y-8 lg:flex-row lg:items-start lg:justify-between"
    >
      <Profile
        class="max-w-2card static top-0 w-full shrink-0 px-8 lg:sticky lg:top-10 lg:w-1/3 lg:px-0"
      />
      <BentoCards class="max-w-2card lg:w-4card -mx-4 w-full shrink-0 lg:mx-0 lg:max-w-none" />
    </div>
  </main>
</Layout>
