---

---

<footer
  class="bg-muted flex flex-col items-center justify-center gap-4 py-32 text-center"
>
  <p class="text-muted-foreground text-sm">Made with ❤️</p>
  <p class="text-muted-foreground text-sm">
    © 2025-{new Date().getFullYear()} Jérémie C.
  </p>
</footer>
