---
// index.astro
import { getCollection } from 'astro:content';
import ProjectFilter from '@components/ProjectFilter.svelte';
import ProjectCard from '@components/ProjectCard.astro';
import ContentLayout from '@layouts/ContentLayout.astro';

const projects = (await getCollection('projects')).sort((a, b) => {
  const dateA = a.data.publishedAt ? new Date(a.data.publishedAt).getTime() : 0;
  const dateB = b.data.publishedAt ? new Date(b.data.publishedAt).getTime() : 0;
  return dateB - dateA;
}); //
---

<ContentLayout title="Projects">
  <div class="flex flex-col gap-8">
    <h2>Everything</h2>
    <p class="text-muted-foreground">
      Here you can find everything I have worked on.<br />
      You can filter the projects by tags by selecting them below.
    </p>
    <ProjectFilter {projects} client:load />

    <div
      class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      {
        projects.map(project => (
          <ProjectCard
            project={project}
            class="project-item"
            data-tags={project.data.tags.join(',')}
            data-archived={project.data.archived}
            data-slug={project.slug}
          />
        ))
      }
    </div>
  </div>
</ContentLayout>

<script>
  import { filteredProjects } from '@stores/projectFilters.js';

  filteredProjects.subscribe((filtered: Array<{ slug: string }>) => {
    const allProjectItems = document.querySelectorAll('.project-item');
    const filteredSlugs = new Set(filtered.map(p => p.slug));

    allProjectItems.forEach(item => {
      const projectElement = item as HTMLElement;
      const slug = projectElement.dataset.slug;

      if (slug && filteredSlugs.has(slug)) {
        projectElement.style.display = 'flex';
      } else {
        projectElement.style.display = 'none';
      }
    });
  });
</script>
