name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  quality:
    uses: ./.github/workflows/quality.yaml
    permissions:
      contents: read

  deploy:
    uses: ./.github/workflows/deploy.yaml
    needs: quality
    permissions:
      contents: read
      pages: write
      id-token: write
